:root {
    -- margin-5-top-0-bottom: 0px 0;
}

body{ 
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    background-color: #fbf8f8;
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Righteous', cursive;
    font-weight: 300;
}
/* Font styling - extracting from google fonts */


h1{
    color: #f06457;
    font-size: 60px;
    text-align:center;
    font-family: 'Fredoka One', cursive;
}

#my-name{
  color: #fafafa;
}
h2{
  color: #201c1c;
  text-align:center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
p{ 
    color: #56617A;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

/* Naviagtion bar syling */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbf8f8;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   
  
  }

  
  li a {
    display: block;
    color: #99A0B0;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 20px ;
    font-family: sans-serif;
 
  }
  
  li a:hover:not(.active) {
    background-color: rgba(212, 209, 209, 0.884);
  }
  
  .active {
    background-color: #04AA6D;
  }

/* Home page styling  */



.home-container-1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f06457;
}


  .button {
    background-color: #f06457;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    border: 5;
    border-color: white;
  }
    
   span{
    font-size: 2.5em;
    color: white;
   }
  #portfolio{
    color: #fafafa;
  }
   
/* About me page styling  */

.about-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
   
}

.about-text{
  display: flex;
  justify-content: center;
}

.about-image{
  max-width: 600px;
  width:90%;

}
  #resume{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 30px;

  }


/* Blog page styling */

.blog-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}

.blog{
  max-width: 600px;
  width:90%;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}
.blog-image{
  width: 90%;
  height: 350px;
  padding: 30px;
}


/* Contact me page styling */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    border: 50px;
   

}


/* Footer styling which is used across all pages */

.footer-container{
    display: flex;
    flex-direction: column;
    background-color:#fbf8f8;  
}
#footer-content{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 10px;
}