:root {
    -- margin-5-top-0-bottom: 5px 0;
}

body{ 
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
/* Font styling - extracting from google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1{
    color: #201e1e;
    font-size: 60px;
    font-family: 'PT Serif', serif;

}
h2{
  color: #201c1c;
}
p{ 
    color: #252121;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

/* Naviagtion bar syling */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(197 24 10);
  }


li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px ;
    
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

/* Home page styling  */

.home-container-1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95vw;
}
  .button {
    background-color: rgb(32 66 185);
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    border: 0;
  }
    .mario-container{
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;


    }
   
   



/* About me page styling  */

.about-container-1 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95vw;
   
}



.about-container-2 { 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100vh;
    width: 95vw;
    
   
}


/* Contact me page styling */
.contact-container{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95vw;
}


/* Footer styling which is used across all pages */
.footer-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    margin: 0;
    
    

}